body{
    display: flex;
    background: linear-gradient(0deg, rgba(2, 25, 135, 0.6) 0%, rgba(175, 175, 245, 0.6) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* fondo */
.fondoItesi{
    height: 100%;
    width: 100%;
    position: absolute;
    size: cover;
    background-repeat: no-repeat;
    opacity: 10%;
}
.contenedor{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
}
/* titulo */
.encabezado{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  margin: 0;
  background: linear-gradient(0deg, rgba(16, 48, 211, 0.6) 0%, rgba(1, 1, 90, 0.838) 100%);
  box-shadow: 0 0 20px #000000;
}

/* texto titulo */
h1{

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: white;    
  text-align: center;
  font-size: 150%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* formulario */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 3em;
  padding-left: 2.8em;
  padding-right: 2.8em;
  padding-bottom: 2.1em;
  border: 2px dashed #ffffff;
  border-radius: 15px;
  background-color: #37409f98;
  box-shadow: 0 0 0 4px #37409f, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .4s ease-in-out;
  margin-top: 5em;
  align-items: center;
  height: 100%;
  width: 100%;
}
/* titulo formulario */
.form .heading {
  font-size: 110%;
  padding-left: 0.8em;
  color: #ffffff;
  background-color: transparent;
  letter-spacing: .5em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 3em;
  text-shadow: inset -1px -1px 1px #ffffff;
}
/* mas valores para la clase row de boostrap */
.row{
  align-content: center;
  align-items: center;
  justify-content: center;
}
/* mas valores para la clase col de boostrap */
.col{
  align-content: center;
  align-items: center;
  justify-content: center;
}
/* contenedor inputs */
.f-control {
  position: relative;
  margin: 0px 0 40px;
  width: 90%;
}
/* inputs */
.f-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #ffffff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
.f-control select {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #ffffff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
/* inputs al presionarlos */
.f-control input:focus,
.f-control input:valid {
  outline: 0;
  border-bottom-color: #cac6c6;
}
.f-control select:focus,
.f-control select:valid {
  outline: 0;
  border-bottom-color: #cac6c6;
}
.f-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
/* estilo para los span */
.f-control label span {
  display: inline-block;
  font-size: 12px;
  min-width: 4px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* al hacer click en los input */
.f-control input:focus+label span,
.f-control input:valid+label span {
  color: #cac6c6;
  transform: translateY(-30px);
}
.f-control select:focus+label span,
.f-control select:valid+label span {
  color: #cac6c6;
  transform: translateY(-30px);
}
option{
  color: #000000;
}
/* boton */
a{
  outline: none;
  padding: 5px;
  color: #ffffff;
  padding-left: 2em;
  padding-right: 2em;
  border: 2px dashed #ffffff;
  border-radius: 15px;
  background-color: #5860ac;
  box-shadow: 0 0 0 4px #37409f, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .1s ease-in-out, .4s color;
}

a:active {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: 0 0 0 4px #ffffff, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}
/* menu de botones */
.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 15%;
}
.radio-inputs > * {
  margin: 6px;
}
.radio-input:checked + .radio-tile {
  border-color: #37409f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #37409f;
}
.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #37409f;
  border-color: #37409f;
}
.radio-input:checked + .radio-tile .radio-icon svg {
  fill: #37409f;
}
.radio-input:checked + .radio-tile .radio-label {
  color: #37409f;
}
.radio-input:focus + .radio-tile {
  border-color: #37409f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}
.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #5f66b1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}
.radio-tile:hover {
  border-color: #37409f;
}
.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}
.radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #494949;
}
.radio-label {
  color: #ffffff;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}
.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* label de registrarse */
.mensaje-registro{
  font-size: 14px;
  margin-top: 10px;
  color: #ffffff;
}
.label-registrar{
  font-family: sans-serif;
  text-decoration: underline rgb(255, 255, 255);
}
.label-registrar:hover{
  color: blue;
}